<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoldTeamRules.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoldTeamRules.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GoldTeamRules.Properties.Settings>
            <setting name="cnDb" serializeAs="String">
                <value>Data Source=mis220.eil-server.cba.ua.edu;Initial Catalog=F1T10;Persist Security Info=True;User ID=F1Team10;Password=#RollTide!;</value>
            </setting>
        </GoldTeamRules.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GoldTeamRules.Properties.Settings>
            <setting name="lDb" serializeAs="String">
                <value>Data Source=DESKTOP-NK2J1CI\SQLEXPRESS;Initial Catalog=GoldTeam;User ID=LocalSystem;</value>
            </setting>
        </GoldTeamRules.Properties.Settings>
    </applicationSettings>
</configuration>